<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>WHPS - Faculty</title>
    {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="padding-top: 56px;">

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Wisdom Hub Public School</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="faculty.html">Faculty</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <h2 class="mt-4 mb-3">Our Head</h2>

    <div class="row">
      <div class="col-lg-3">
        <img class="img-fluid rounded mb-4" src="{% static 'images/school/selfp.jpg' %}" alt="A photo of the principal">
      </div>
      <div class="col-lg-9">
        <h2>About the Principal</h2>
        <hr class="bg-primary" style="height: 0.4vh">
        <p> Our principal <b>Mr. Maaz Abdullah</b> is highly object oriented and works for the betterment of the world by providing quality education to the younger buds. He believes that hard work and a strong willpower can overcome any odds.<br><hr class="bg-dark"></p>
        <h4>Favourite Quote</h4>
        <p><i>I can accept failure, everyone fails at something. But I cannot accept not trying.</i></p>
      </div>
    </div>
    <hr class="bg-primary" style="height: 1vh;">

    <h2>Our Esteemed Faculty</h2>

    <div class="row" style="margin-top: 8vh;">
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center bg-info">
          <img class="card-img-top" src="{% static 'images/school/maleph.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mr. Sadiq Ansari</h4>
            <h6 class="card-subtitle mb-2 text-muted">Discipline Committee Incharge</h6>
            <p class="card-text">A strict yet kind individual who is tasked with maintaining discipline within the campus area.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center bg-info">
          <img class="card-img-top" src="{% static 'images/school/femaleph.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mrs. Shweta Singh</h4>
            <h6 class="card-subtitle mb-2 text-muted">Maths Teacher</h6>
            <p class="card-text">She insists on teaching the tools of mathematics to her follow students to enhance their reasoning and knowledge.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center bg-info">
          <img class="card-img-top" src="{% static 'images/school/femaleph.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mrs. Ambreen Khan</h4>
            <h6 class="card-subtitle mb-2 text-muted">Science Teacher</h6>
            <p class="card-text">She holds a MSc in botany and is really hard working. As a young individual herself, she is really friendly to the students.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-centerbg-info bg-info">
          <img class="card-img-top" src="{% static 'images/school/femaleph.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Ms. Shalini Aggarwal</h4>
            <h6 class="card-subtitle mb-2 text-muted">English Teacher</h6>
            <p class="card-text">An individual who is really fluent with English and has extraordinary command on the pronounciation of words. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center bg-info">
          <img class="card-img-top" src="{% static 'images/school/femaleph.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mrs. Ishika Singh</h4>
            <h6 class="card-subtitle mb-2 text-muted">Classroom Teacher</h6>
            <p class="card-text">A kind hearted individual who takes care of her student like a mother.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center bg-info">
          <img class="card-img-top" src="{% static 'images/school/femaleph.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mrs. Palak Gupta</h4>
            <h6 class="card-subtitle mb-2 text-muted">Hindi Teacher</h6>
            <p class="card-text">A great guide for your journey in this beautiful language.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center bg-info">
          <img class="card-img-top" src="{% static 'images/school/maleph.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mr. Ram Prasad</h4>
            <h6 class="card-subtitle mb-2 text-muted">PHE Teacher</h6>
            <p class="card-text">A former body builder and a graduate who is famous for his guidance and experience</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-4">
        <div class="card h-100 text-center bg-info">
          <img class="card-img-top" src="{% static 'images/school/femaleph.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mrs. Zainab Khan</h4>
            <h6 class="card-subtitle mb-2 text-muted">Classroom Teacher</h6>
            <p class="card-text">A kind hearted individual who takes care of her student like a mother.</p>
          </div>
        </div>
      </div>
    </div>

    <hr class="bg-primary" style="height: 1vh;">

    <h2>Our Helping Staff</h2>
    <div class="row" style="margin-top: 8vh;">
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card h-100 text-center border-info">
          <img class="card-img-top" src="{% static 'images/school/maleph.jpg' %}" alt="">
          <div class="card-body">
            <h5 class="card-title" >Mr. Durgesh</h5>
            <h6 class="card-subtitle mb-2 text-muted">Gatekeeper</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card h-100 text-center border-info">
          <img class="card-img-top" src="{% static 'images/school/maleph.jpg' %}" alt="">
          <div class="card-body">
            <h5 class="card-title">Mr. Tariq</h5>
            <h6 class="card-subtitle mb-2 text-muted">Office Helper</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card h-100 text-center border-info">
          <img class="card-img-top" src="{% static 'images/school/maleph.jpg' %}" alt="">
          <div class="card-body">
            <h5 class="card-title">Mr. Ramu</h5>
            <h6 class="card-subtitle mb-2 text-muted">Gardener</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card h-100 text-center border-info">
          <img class="card-img-top" src="{% static 'images/school/maleph.jpg' %}" alt="">
          <div class="card-body">
            <h5 class="card-title">Mr. Kamal</h5>
            <h6 class="card-subtitle mb-2 text-muted">Help desk Incharge</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card h-100 text-center border-info">
          <img class="card-img-top" src="{% static 'images/school/femaleph.jpg' %}" alt="">
          <div class="card-body">
            <h5 class="card-title">Mrs. Sheela</h5>
            <h6 class="card-subtitle mb-2 text-muted">Nurse</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <div class="card h-100 text-center border-info">
          <img class="card-img-top" src="{% static 'images/school/maleph.jpg' %}" alt="">
          <div class="card-body">
            <h5 class="card-title">Mr. Rahul</h5>
            <h6 class="card-subtitle mb-2 text-muted">Janitor</h6>
          </div>
        </div>
      </div>
    </div>

  </div>

  <footer class="py-3 bg-primary">
    <div class="container">
      <p class="text-center text-light">Official Website of Wisdom Hub Public School</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>
